<div class="todo-item" [ngClass]="{
  done: todo.done,
  notDone: !todo.done,
  abc: true
}" [ngStyle]="{ textDecoration: todo.done ? 'line-through' : 'none'}">
  <div class="icon">
    <button class='done-button' (click)="toggleDone()">
      <i *ngIf="todo.done; else notDone" class="fas fa-check"></i>
    </button>

    <ng-template #notDone>
      <i class="fas fa-check-double"></i>
    </ng-template>
  </div>

  <div class="title-wrapper">
    <p *ngIf="!editMode; else edit" (click)="openEdit()">{{ todo.title }}</p>

    <ng-template #edit>
      <input type="text" [(ngModel)]="newTitle" (keydown.enter)="update()"/>
    </ng-template>
  </div>

  <button *ngIf="!editMode; else editUndo" (click)="remove()" class='remove-button'>
    <i class="fas fa-times"></i>
  </button>

  <ng-template #editUndo>
    <button (click)="undo()" class='remove-button'>
      <i class="fas fa-undo"></i>
    </button>
  </ng-template>
</div>
