<div class="todo-item" [ngClass]="{
  done: item.done,
  notDone: !item.done,
  abc: true
}" [ngStyle]="{ textDecoration: item.done ? 'line-through' : 'none'}">
  <div class="icon">
    <button class='done-button' (click)="toggleDone()">
      <i *ngIf="item.done; else notDone" class="fas fa-check"></i>
    </button>

    <ng-template #notDone>
      <i class="fas fa-check-double"></i>
    </ng-template>
  </div>

  <div class="title-wrapper">
    <p>{{ item.title }}</p>

    <ng-template #edit>
      <input type="text" [value]="item.title" />
    </ng-template>
  </div>

  <button (click)="removeFromChild()" class='remove-button'>
    <i class="fas fa-times"></i>
  </button>

  <ng-template #editUndo>
    <button class='remove-button'>
      <i class="fas fa-undo"></i>
    </button>
  </ng-template>
</div>
