<table class="table table-bordered table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        ID
      </th>
      <th>
        TITLE
      </th>
      <th>
        AUTHOR
      </th>
      <th>
        CATEGORY
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; index as i">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ book.title }}
      </td>
      <td>
        {{ book.author }}
      </td>
      <td>
        {{ book?.category?.name }}
      </td>
      <td class="text-right">
        <a [routerLink]="['edit', book.id]" class="btn inline-block btn-success btn-sm text-white mx-1">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-warning btn-sm text-white mx-1">
          <i class="fa fa-eye"></i>
        </a>
        <a [routerLink]="['delete', book.id]" class="btn btn-danger btn-sm text-white mx-1">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
