<div class="wrapper">
  <h1>TODO LIST</h1>

  <div class='textbox'>
    <div class="icon">
      <i class="fas fa-clipboard-list"></i>
    </div>

    <input type="text" placeholder="Enter your next task" (keydown.enter)="addTodo($event)">

    <button (click)="addTodo('From click')"><i class="fas fa-plus-circle"></i></button>
  </div>

  <div class="todo-list">
    <div class="header">
      <div class="icon">
        <i class="fas fa-tasks"></i>
      </div>

      <div class="blank"></div>
      <button class="filter-button" [ngClass]="{ currentMode: filterMode === 'todo' }" (click)="filterMode = 'todo'">Todo</button>
      <button class="filter-button" [ngClass]="{ currentMode: filterMode === 'done' }" (click)="filterMode = 'done'">DONE</button>
      <button class="filter-button" [ngClass]="{ currentMode: filterMode === 'all' }" (click)="filterMode = 'all'">all</button>
    </div>

    <div class="list">
      <div *ngFor="let item of todoList" class="todo-item" [ngClass]="{
        done: item.done,
        notDone: !item.done,
        abc: true
      }" [ngStyle]="{ textDecoration: item.done ? 'line-through' : 'none'}">
        <div class="icon">
          <button class='done-button' (click)="toggleDone(item)">
            <i *ngIf="item.done; else notDone" class="fas fa-check"></i>
          </button>

          <ng-template #notDone>
            <i class="fas fa-check-double"></i>
          </ng-template>
        </div>

        <div class="title-wrapper">
          <p *ngIf="item !== todoEdit; else edit" (click)="openEdit(item)">{{ item.title }}</p>

          <ng-template #edit>
            <input type="text" (keydown.enter)="doneEdit($event)" [value]="item.title" />
          </ng-template>
        </div>

        <button *ngIf="item !== todoEdit; else editUndo" class='remove-button' (click)="remove(item)">
          <i class="fas fa-times"></i>
        </button>

        <ng-template #editUndo>
          <button class='remove-button' (click)="undo()">
            <i class="fas fa-undo"></i>
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <pre>{{ todos | json }}</pre>
</div>
