/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(to bottom, #1854ad, #1b61ba, #1f6ec8, #237bd5, #2888e2);
  background-repeat: none;
  min-height: 100vh;
}
